<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @booking.book_id %>
</p>

<p>
  <strong>User dni:</strong>
  <%= @booking.user_dni %>
</p>

<p>
  <strong>Start booking:</strong>
  <%= @booking.start_booking %>
</p>

<p>
  <strong>End time:</strong>
  <%= @booking.end_time %>
</p>

<p>
  <strong>State:</strong>
  <%= @booking.state %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
